.settingBtn{
  background-color: #603;
  display: flex;
  align-items: center;
  font-size: 18px;
  text-transform: uppercase;
  gap: 5px;
  margin: 0 auto;
  margin-top: 100px;
  color: #fff;
  border: none;
  outline: none;
  padding: 10px;
  transition: box-shadow .5s ease;

  img{
    height: 25px;
  }

  @keyframes rotate {
    100%{
      transform: rotate(360deg);
    }
  }
}

.settingBtn:hover{
  box-shadow: 2px 2px 4px rgba(0,0,0,.7);
  cursor: pointer;

  img{
    animation: rotate 2s ;
  }
}